<li><a href="./bkk">Workshop Main page</a></li>
<li><a href="#table-of-contents">Top of the page</a></li>
<li><a href="#sign-up-to-sandbox">Registering to Bangkok Blockathon Sandbox</a></li>
<li><a href="#creating-your-fireblocks-environment">Creating your Fireblocks Environment</a>
  <ol>
    <li><a href="#create-your-api-user">Create an API user</a></li>
    <li><a href="#setup-the-fireblocks-sdk">Setup the Fireblocks SDK</a></li>
    <li><a href="#create-a-vault-account">Creating a vault account</a></li>
    <li><a href="#create-a-wallet">Creating a wallet</a></li>
  </ol>
</li>
<li><a href="#fund-your-wallet">Fund you wallet</a>
  <ol>
    <li><a href="#verify-your-balance">Query your current balance</a></li>
    <li><a href="#fund-your-wallet">Obtain funds from a faucet</a></li>
  </ol>
</li>
<li><a href="#deploy-an-nft-collection">Deploy an NFT Collection</a>
  <ol>
    <li><a href="#install-hardhat-and-create-a-project">Install hardhat and create a project</a></li>
    <li><a href="#install-hardhat-dependencies">Install hardhat dependencies</a></li>
    <li><a href="#configure-the-fireblocks-plugin">Adjust hardhat config file</a></li>
    <li><a href="#deploy-your-contract">Deploy the NFT contract</a></li>
  </ol>
</li>
<li><a href="#mint-your-first-token">Mint your first token</a>
  <ol>
    <li><a href="#mint-script">Creating the mint script</a></li>
    <li><a href="#minting-your-token">Minting the token</a></li>
    <li><a href="#getting-the-token-data">Refreshing NFT data</a></li>
  </ol>
</li>